<app-header></app-header>

<div class="form-content" >
    <form class="form" action="#"
    [formGroup]="employeeForm" (ngSubmit)="loginUser()">
        <div class="form-head">
            Employee Payroll Form
        </div>

        <!-------Input Name--------->
        <div class="row-content">
            <label class="label name">Full Name</label>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Enter Name</mat-label>
                <input id="name" [(ngModel)]="employee.name" ngDefaultControl class="name-input" matInput placeholder="Ex. Sparsh Gharde"
                    formControlName="name" required>
           <mat-error>Enter Valid Name</mat-error>
            </mat-form-field>
        </div>

        <!------Profile image---------->
        <div class="row-content">
            <label class="label text">Profile Image </label>
            <div class="profile-radio-content">
                <mat-radio-group [(ngModel)]="employee.profilePic" ngDefaultControl formControlName="profilePic">
                    <mat-radio-button class=profile-width id="profile1" name="profile" color="primary"
                                      value="../assets/profile-images/Ellipse -1.png" required>
                        <img class="profile" id='image1' src="./assets/profile-images/Ellipse -1.png" alt="img">
                    </mat-radio-button>
                    <mat-radio-button class=profile-width id="profile2" name="profile" color="primary"
                                      value="../assets/profile-images/Ellipse -2.png" required>
                        <img class="profile" id='image2' src="./assets/profile-images/Ellipse -2.png" alt="img">
                    </mat-radio-button>
                    <mat-radio-button class=profile-width id="profile3" name="profile" color="primary"
                                      value="../assets/profile-images/Ellipse -3.png" required>
                        <img class="profile" id='image3' src="./assets/profile-images/Ellipse -3.png" alt="img">
                    </mat-radio-button>
                    <mat-radio-button class=profile-width id="profile4" name="profile" color="primary"
                                      value="../assets/profile-images/Ellipse -4.png" required>
                        <img class="profile" id='image4' src="./assets/profile-images/Ellipse -4.png" alt="img">
                    </mat-radio-button>
                    <mat-radio-button class=profile-width id="profile5" name="profile" color="primary"
                                      value="../assets/profile-images/Ellipse -5.png" required>
                        <img class="profile" id='image5' src="./assets/profile-images/Ellipse -5.png" alt="img">
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>

        <!-----Input Gender--------->
        <div class="row-content">
            <label class="label text">Gender</label>
            <div>
                <mat-radio-group [(ngModel)]="employee.gender" ngDefaultControl formControlName="gender">
                    <mat-radio-button type="radio" id="male" name="gender" color="primary" value="Male" required>
                        <label class="text" for="male">Male</label>
                    </mat-radio-button>
                    <mat-radio-button type="radio" id="female" name="gender" color="primary" value="Female" required>
                        <label class="text" for="female">Female</label>
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>

        <!-- ----Input Department----- -->
        <div class="row-content">
            <label class="label text">Department</label>
            <div *ngFor="let department of departments" >
                <mat-checkbox class="checkbox" type="checkbox" color="warn"
                 [value]="department.value"   (change)="onCheckboxChange($event)"    
                 formControlName="department" [(ngModel)]="employee.department">
                    <label class="text">{{department.name}}</label>
                </mat-checkbox>
            </div>
        </div>
        <!-----Input Salary------>
        <div class="row-content">
            <label class="label text">Salary</label>
            <mat-slider min="40000" max="500000" step="1000" showTickMarks discrete  >
              <input matSliderThumb [(ngModel)]="employee.salary" formControlName="salary">
            </mat-slider>
        </div>

        <!-------Input Date------>
        <div class="row-content">
            <label class="label text date">Start Date</label>
            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="employee.startDate" formControlName="startdate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>

        <!------Input Notes------->
        <div class="row-content">
            <mat-label class="label text notes">Notes</mat-label>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Description</mat-label>
                <textarea matInput id="notes" class="input" name="Notes" [(ngModel)]="employee.note" formControlName="note"
                    style="height:50px" required></textarea>
           <mat-error>Note is required</mat-error>
            </mat-form-field>
        </div>

        <!-- Buttons -->
        <div class="buttonParent">
                <button routerLink="/homepage" style="height:3.5rem;" mat-raised-button color="warn" class="resetButton button cancelButton">Cancel</button>
            <div class="submit-reset">
                <button mat-raised-button style="height:3.5rem;" color="primary" type="submit"
                 class="button submitButton" id="submitButton">Submit</button>
                <button mat-raised-button style="height:3.5rem;" color="warn" type="reset" class="resetButton button">Reset</button>
            </div>
        </div>
    </form>
</div>